ul, li{list-style: none;margin:0;padding:0}

.App {
  text-align: center;
}
.App ul li{width:20px;display:block;height:20px;float:left;}
.App ul li.active{background-color: #f00;}
.App ul{width: 100px;}